.App{
    text-align: center;
    margin: 16px;
}

div{
    margin: 16px;
    height: 90vh;
    border-style: solid;
}

input{
    padding: 10px;
    margin-right: 8px;
    border-radius: 10px;
}

ul{
    list-style: none;
}

li{
    text-align: left;
    font-size: x-large;
    margin-top: 50px;
}

.delete-button{
    color: red;
    border: none;
    background-color: transparent;
    font-size: large;
    margin-left: 20px;
}

.add-button{
    border-radius: 100%;
    border-style: none;
    background-color: blue;
    color: white;
    font-size: medium;
}